@font-face {
  font-family: 'Gallient';
  src: url('./fonts/Gallient.ttf');
}

:root {
  --text-color: #000;
  --white: #FFF9ED;
  --black: #000;
  --hero-background: #B47250;
  --beginning-background: #FCD9B4;
  --career-background: #E9C3A9;
  --menu-hover-color: #99522E;
  --menu-font-size: 20px;
  --career-font: 23px;
  --quote-font-size: 30px;
  --quote-author-font-size: 21px;
  --font-family: 'Playfair Display', serif;
  --title-font: 'Gallient', serif;
  --hamburger-line-height: 1px;
  --hamburger-width: 18px;
  --hamburger-margin: 6px;
  --nav-height-L: 120px;
  --nav-height-S: 60px;
  --side-padding: 10%;
  --gallery-image-width: 25vw;
  --gallery-image-height: 28vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--hero-background);
  height: 100%;
  position: relative;
}

/* Fonts */

#career p::first-letter, #beginning p::first-letter {
  color: #000000;
  margin-left: 2em;
}

h1 {
  font-family: var(--title-font);
  font-weight: 200;
  font-size: 10vw;  
  line-height: 1.25;
}

p {
  font-size: 30px;
  line-height: 40px;
}

h5 {
  font-size: 3vw;
  font-weight: 400;
}

img {
  object-fit: cover;
}

#navigation {
  top: 0px;
  width: 100%;
  padding: 0 var(--side-padding);
  height: var(--nav-height-L);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--hero-background);
  z-index: 5;
}

nav {
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu a {
  text-decoration: none;
  color: var(--white);
  display: block;
  line-height: var(--nav-height-L);
  height: var(--nav-height-L);
  text-align: center;
  width: 100%;
  z-index: 5;
}

.menu a:hover {
  text-decoration: underline;
  background-color: var(--menu-hover-color);
  color: var(--white);
}

.menu a:focus {
  text-decoration: underline;
  background-color: var(--menu-hover-color);
  color: var(--white);
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  position: absolute;
  display: none;
  background-color: var(--black);
  height: var(--hamburger-line-height);
  width: var(--hamburger-width);
}

.menu-button::before {
  content: "";
  margin-top: calc(var(--hamburger-margin) * -1);
}

.menu-button::after {
  content: "";
  margin-top: var(--hamburger-margin);
}

/* HERO SECTION */

#hero-content, #hero-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#hero-content {
  margin-bottom: 50px;
  padding: 0 var(--side-padding);
}

#hero-image-container {
  position: absolute;
  width: 100%;
  padding-top: 2vw;
  z-index: -1;
  width: 50%;
}

#hero-image-container #on-stage {
  width: 100%;
  object-fit: cover;
}

#hero-content #title {
  width: 100%;
  z-index: 2;
  text-align: right;
}

#hero-content h1 {
  font-size: 16vw;
  font-family: var(--title-font);
  color: var(--white);
  line-height: 0.9;
  z-index: 2;
}

#hero-description {
  width: 100%;
}

#portrait-subtitle {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  margin-top: 10px;
}

#portrait-subtitle #subtitle {
  width: 100%;
  line-height: 2;
}

#portrait-subtitle #subtitle h2 {
  width: 100%;
  font-family: var(--title-font);
  color: var(--white);
  font-size: 3.5vw;
  line-height: 2.8;
  font-weight: 400;
}

#portrait-subtitle #portrait {
  width: 40vw;
  height: 28vw;
}

#portrait img {
  width: 100%;
  height: 100%;
  object-position: center;
  border: 11px solid var(--white);
}

#menu-items li a:visited {
  color: #FFF9ED;
  text-decoration: none;
}

/* BEGINNING */

#about {
  background-color: var(--beginning-background);
  padding-bottom: 90px;
}

#beginning-violin {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#beginning-violin img {
  width: 80%;
}

#rotatedViolin {
  display: none;
}

#beginning-main-content {
  position: relative;
  padding: var(--side-padding) var(--side-padding) 0 var(--side-padding);
  display: flex;
  justify-items: center;
  align-items: flex-end;
}

#beginning-text {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#beginning-text p {
  width: 70%;
  font-family: var(--font-family);
}

#beginnin-title {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#beginnin-title h1 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

/* Flex career */

#career {
  background-color: var(--career-background);
  padding: 5% var(--side-padding);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#portrait-in-white {
  display: none;
  float: right;
  padding: 0 0 5% 5%;
}

#hanna-in-white {
  display: none;
  width: 100%;
  object-fit: contain;
  margin: 5% 0;
}

#career-text-content {
  display: flex;
  width: 80%;
}

.career-title {
  width: 12%;
  position: relative;
}

.career-title h1 {
  transform: rotate(-90deg);
  position: absolute;
  transform-origin: 45% 145%;
  line-height: 1;
}

.career-p1,
.career-p2 {
  width: 50%;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: var(--career-font);
  line-height: 30px;
  color: var(--text-color);
  padding: 0 2%;
  /* padding-right: 9%; */
  border-left: 1px solid var(--text-color);
}

.career-p1 p:first-child,
.career-p2 p:first-child {
  margin-bottom: 40px;
}

.career-p1 p,
.career-p2 p {
  font-size: 23px;
  line-height: 30px;
}

#desktop-hidden-expand-career {
  width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  padding: 10px 0;
}

#desktop-hidden-expand-career svg {
  width: 40px;
  height: 40px;
}

.arrowUp {
  transform: scaleY(-1);
}

/* Photo Gallery */
#photos {
  padding: 5% var(--side-padding);
  background: rgb(210, 125, 96);
  background: -moz-linear-gradient(0deg, rgba(210, 125, 96, 1) 0%, rgba(188, 137, 114, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(210, 125, 96, 1) 0%, rgba(188, 137, 114, 1) 100%);
  background: linear-gradient(0deg, rgba(210, 125, 96, 1) 0%, rgba(188, 137, 114, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d27d60", endColorstr="#bc8972", GradientType=1);
}

#mobile-gallery {
  display: none;
}

#gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coverflow {
  position: relative;
  width: 90vw;
  height: var(--gallery-image-height);
  overflow: hidden;
}

.coverflow__image {
  cursor: pointer;
  object-fit: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: var(--gallery-image-width);
  height: var(--gallery-image-height);
  -webkit-transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.coverflow__image[data-coverflow-index] {
  position: absolute;
  left: 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.coverflow__image[data-coverflow-index]:before {
  content: " ";
  z-index: 1;
  position: absolute;
  top: 300px;
  width: 100%;
  height: 10%;
}

#prev-arrow,
#next-arrow {
  cursor: pointer;
  -webkit-transition: color 200ms, background 200ms;
  transition: color 200ms, background 200ms;
  z-index: 11;
}

#prev-arrow svg,
#next-arrow svg {
  width: 40px;
  height: 40px;
  user-select: none;
}

#prev-arrow {
  left: 0%;
  transform: rotate(90deg);
  margin-right: 3vw;
}

#next-arrow {
  right: 0%;
  transform: rotate(-90deg);
  margin-left: 3vw;
}

#quote-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

#quote {
  width: 80%;
  padding: 5%;
  border: 1px solid var(--black);
}

#quote-text, #quote-author {
  font-family: var(--font-family);
  font-size: var(--quote-font-size);
  font-weight: 200;
  text-align: center;
}

#quote-author {
  margin-top: 30px;
  font-size: var(--quote-author-font-size);
}

/* Lessons and Contacts */

#connect {
  background-color: #D27D60;
  padding: 5% var(--side-padding);
  /* padding-top: 0; */
  display: flex;
  justify-content: center;
}

#lessons, #contacts {
  width: 50%;
  display: flex;
  flex-direction: column;
}

/* Contacts */
#form-main {
  margin-top: 30px;
  width: 80%;
  float: left;
  padding-top: 0px;
}

textarea {
  min-width: 100%;
  max-width: 100%;
}

#form-div {
  width: 100%;
}

.form {
  width: 100%;
  padding: 5%;
  border: 1px solid var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form p {
  width: 100%;
}

.feedback-input {
  width: 100%;
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: var(--white);
  padding: 13px 13px 13px 24px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input::placeholder {
  color: #381D1E;
  opacity: 1;
}

.feedback-input:-ms-input-placeholder {
  color: #381D1E;
}

.feedback-input::-ms-input-placeholder {
  color: #381D1E;
}

.feedback-input:focus {
  background: var(--white);
  box-shadow: 0;
  border: 3px solid #3498db;
  outline: none;
}

.focused {
  border: #30aed6 solid 3px;
}

#submit-btn {
  font-family: var(--title-font);
  width: 70%;
  cursor: pointer;
  background-color: var(--white);
  color: #381D1E;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 400;
  border: none;
}

#contacts {
  justify-content: flex-end;
  align-items: flex-end;
}

#contacts svg {
  width: 40px;
  height: 40px;
  margin-right: 30px;
}

.social {
  display: flex;
  align-items: center;
}

footer {
  width: 100%;;
  background-color: #D27D60;
  text-align: center;
  padding: 2% 0;
}

footer p {
  font-size: 1.5vw;
  font-family: var(--title-font);
  letter-spacing: 2px;
}

/* LOADER */

#loader-container {
  position: absolute;
  top: 0;
}

#loader-container, #loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D27D60;
}

.loading-state {
  max-height: 100vh;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 999;
}

#loader svg {
  width: 50px;
  fill: #21130d;
}

#loader #first {
  animation: move 0.5s linear infinite;
  animation-direction: alternate-reverse;
  position: relative;
}

#loader #second {
  animation: move 0.5s linear infinite;
  animation-direction: alternate-reverse;
  animation-delay: 0.22s;
  position: relative;
}

#loader #third {
  animation: move 0.5s linear infinite;
  animation-direction: alternate-reverse;
  animation-delay: 0.4s;
  position: relative;
}

@keyframes move {
  from {
    top: -15px;
    fill-opacity: 0.1;

  }

  to {
    top: 0;
    fill-opacity: 1;
  }
}

/* Max size for h1 */
@media screen and (min-width: 1300px) {
  h1 {
    font-size: 150px;
  }

  footer p {
    font-size: 20px;
  }
}

@media screen and (min-width: 1025px){
  h5 {
    font-size: 24px;
    font-weight: 400;
  }
}

@media screen and (min-width: 744px) and (max-width: 1550px) {
  #beginning-main-content {
    padding-top: 20%;
  }
  
}

/* Adjusting beginning absolute elements */
@media only screen and (min-width: 744px) and (max-width: 1110px) {
  #beginnin-title {
    width: initial;
  }

  #career-text-content {
    flex-direction: column;
  }

  .career-p1,
  .career-p2 {
    width: 100%;
  }


  #portrait-in-white {
    display: block;
    width: 224px;
  }

  #hanna-in-white {
    max-width: 624px;

  }

  #desktop-hidden-expand-career {
    width: 100%;
    visibility: visible;
  }

  #career-text-content #part-2,
  #career-text-content #part-3,
  #career-text-content #part-4 {
    display: none;
  }

  #connect {
    flex-direction: column;
  }

  #lessons, #contacts {
    width: 100%;
  }

  #lessons {
    margin-bottom: 10%;
  }
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 12vw;
  }

  p, .career-p1 p,
  .career-p2 p {
    font-size: 4vw;
    line-height: 5vw;
  }

  #hero-image-container {
    justify-content: flex-start;
    width: 65%;
  }

  #portrait-subtitle #portrait {
    width: 70vw;
    height: 43vw;
  }

  #portrait img {
    border: 5px solid var(--white);
  }

  #portrait-subtitle #subtitle h2 {
    font-size: 5vw;
    line-height: 1.3;
  }

  #about {
    padding: 0 0 var(--side-padding) 5%;
    background: rgb(252, 217, 180);
    background: -moz-linear-gradient(0deg, rgba(252, 217, 180, 1) 24%, rgba(180, 114, 80, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(252, 217, 180, 1) 24%, rgba(180, 114, 80, 1) 100%);
    background: linear-gradient(0deg, rgba(252, 217, 180, 1) 24%, rgba(180, 114, 80, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcd9b4", endColorstr="#b47250", GradientType=1);
  }

  #beginning-violin {
    display: none;
  }

  #beginning-main-content {
    padding: 0 5%;
    position: relative;
  }

  #beginning-text {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  #beginnin-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5%;
    width: 100%;
  }

  #beginnin-title h1 {
    font-size: 12vw;
    writing-mode: horizontal-tb;
    text-orientation: mixed;
  }

  #rotatedViolin {
    display: block;
    transform: scaleX(-1);
    position: absolute;
    max-height: 100%;
    height: 100%;
    right: 0;
  }

  #rotatedViolin img {
    /* max-height: 900px; */
    height: 100%;
    object-fit: contain;
  }

  #career {
    flex-direction: column;
    padding: var(--side-padding);
  }

  .career-title {
    margin-bottom: 5%;
  }

  #career-text-content {
    flex-direction: column;
    width: 100%;
  }

  .career-title h1 {
    transform: rotate(0deg);
    position: relative;
    transform-origin: 0 0%;
  }

  .career-p1,
  .career-p2 {
    width: 100%;
    border-left: none;
    text-align: justify;
  }

  #desktop-hidden-expand-career {
    width: 100%;
    visibility: visible;
  }

  #career-text-content #part-2,
  #career-text-content #part-3,
  #career-text-content #part-4 {
    display: none;
  }

  #photos,#connect {
    padding: var(--side-padding);
  }

  #gallery {
    display: none;
  }

  #mobile-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }


  .mobile-img-container {
    width: 250px;
    height: 300px;
    margin: 5%;
    flex-grow: 1;
    overflow: hidden;
  }

  #mobile-gallery img {
    height: 100%;
    object-fit: cover;
  }

  .align-img-left {
    object-position: left;
  }

  #quote {
    width: 100%;
  }

  #quote-text {
    font-size: 4vw;
    font-weight: 600;
  }

  #quote-author {
    font-size: 3.5vw;
  }

  #connect {
    flex-direction: column;
  }

  #form-main {
    width: 100%;
  }

  #contacts-content h1 {
    margin-bottom: 20px;
  }

  #contacts {
    justify-content: flex-end;
    align-items: flex-start;
  }

  #lessons,
  #contacts {
    width: 100%;
  }

  #lessons {
    margin-bottom: 10%;
  }

  .feedback-input {
    padding: 1vw 1vw 1vw 24px;
  }

  #desktop-hidden-expand-career svg, 
  #prev-arrow svg,
  #next-arrow svg, 
  #contacts svg {
    width: 6vw;
    height: 6vw;
    min-width: 48px;
    min-height: 48px;
  }

  #contacts svg {
    margin-right: 3vw;
    min-width: 30px;
    min-height: 30px;
  }

  #submit-btn {
    font-size: 3vw;
  }
}

@media only screen and (min-width: 0px) and (max-width: 743px) {
  #navigation {
    width: 18vw;
    height: var(--nav-height-S);
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    padding: 0;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: var(--nav-height-S);
    left: 0;
    flex-direction: column;
    width: 18vw;
    justify-content: center;
    align-items: center;
    background: var(--white);
    background: -moz-linear-gradient(180.18deg, #FFF9ED 45.16%, #fff9ed4d 83.48%, #fff9ed00 99.66%);
    background: -webkit-linear-gradient(180.18deg, #FFF9ED 45.16%, #fff9ed4d 83.48%, #fff9ed00 99.66%);
    background: linear-gradient(180.18deg, #FFF9ED 45.16%, #fff9ed4d 83.48%, #fff9ed00 99.66%);
  }

  .menu a {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: var(--text-color);
  }

  #menu-toggle~.menu a {
    display: none;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    height: 3vw;
  }

  #menu-toggle:checked~.menu a {
    display: block;
    margin: 10px 0px;
    font-size: 2vw;
    line-height: 2vw;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

}
