@font-face {
  font-family: 'Amelaryas';
  src: url('./fonts/Amelaryas.otf');
}

:root {
  --text-color: #000;
  --white: #FFF9ED;
  --black: #000;
  --hero-background: #B47250;
  --beginning-background: #FCD9B4;
  --font-family: 'Playfair Display', serif;
  --title-font: 'Amelaryas', serif;
  --hamburger-line-height: 1px;
  --hamburger-width: 18px;
  --hamburger-margin: 6px;
  --nav-height-L: 120px;
  --nav-height-S: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--hero-background);
  height: 100%;
}

/* Fonts */

p::first-letter {
  color: #000000;
  margin-left: 2em;
}

#navigation {
  position: sticky;
  top: 0px;
  width: 100%;
  padding: 0 10vw;
  height: var(--nav-height-L);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--hero-background);
  z-index: 5;
}

nav {
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  overflow: hidden;
  font-size: 20px;
}

.menu li a {
  text-decoration: none;
  color: var(--white);
}

.menu li a:hover {
  text-decoration: underline;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: var(--hamburger-width);
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  position: absolute;
  display: block;
  background-color: var(--black);
  height: var(--hamburger-line-height);
  width: var(--hamburger-width);
}

.menu-button::before {
  content: "";
  margin-top: calc(var(--hamburger-margin) * -1);
}

.menu-button::after {
  content: "";
  margin-top: var(--hamburger-margin);
}

/* HERO SECTION */

#hero-content, #hero-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#hero-content {
  margin-bottom: 50px;
}

#hero-image-container {
  position: absolute;
  width: 100%;
  padding-top: 2vw;
  z-index: -1;
}

#hero-image-container #on-stage {
  width: 50%;
  object-fit: cover;
}

#hero-content #title {
  width: 100%;
  z-index: 2;
  text-align: right;
  padding-right: 10%;
}

#hero-content h1 {
  font-size: 8vw;
  font-family: var(--title-font);
  color: white;
  line-height: 1.4;
  z-index: 2;
}

#portrait-subtitle {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  margin-top: 10px;
}

#portrait-subtitle #subtitle {
  width: 65%;
  line-height: 2;
  text-align: center;
}

#portrait-subtitle #subtitle h2 {
  width: 100%;
  font-family: var(--title-font);
  color: var(--white);
  font-size: 2vw;
}

#portrait-subtitle #portrait {
  width: 35%;
  padding-right: 10%;
}

#portrait img {
  width: 100%;
  object-fit: cover;
}

#portrait img {
  border: 11px solid var(--white);
}

#menu-items li a:visited {
  color: #FFF9ED;
  text-decoration: none;
}

p::first-letter {
  color: #000000;
  margin-left: 2em;
}

/* BEGINNING */

#beginning-content {
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: var(--beginning-background);
}

#bio-image {
  width: 20%;
}

#beginning-text {
  width: 60%;
  padding: 0 4%;
}

#beginning-text p {
  font-size: 30px;
}

#beginnin-title {
  width: 20%;
}

/* Flex career */

#flex-career {
  display: flex;
  background-color: #E9C3A9;
  width: 100%;
  justify-content: center;
}

.career-title {
  width: 19%;
  font-family: 'Italiana';
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  color: black;
  writing-mode: sideways-lr;
  text-align: right;
  padding-top: 5%;
}

.career-p1,
.career-p2 {
  width: 40%;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  color: black;
  padding-top: 4%;
  padding-left: 1%;
  padding-bottom: 4%;
  padding-right: 4%;
}

.career-p1 p:first-child,
.career-p2 p:first-child {
  margin-bottom: 40px;
}

element {
  border: 0.5px solid #000000;
  display: inline-block;
  align-items: center;
  margin: 4%;
}

/* MEDIA */

@media only screen and (min-width: 744px) {
  #portrait img {
    border: 9px solid var(--white);
  }
}

@media only screen and (max-width: 744px) {
  #navigation {
    width: 18vw;
    height: var(--nav-height-S);
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: var(--nav-height-S);
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #FFF9ED;
    background: -moz-linear-gradient(180.18deg, #FFF9ED 0.16%, #fff9ed4d 76.48%, #fff9ed00 100.66%);
    background: -webkit-linear-gradient(180.18deg, #FFF9ED 0.16%, #fff9ed4d 76.48%, #fff9ed00 100.66%);
    background: linear-gradient(180.18deg, #FFF9ED 0.16%, #fff9ed4d 76.48%, #fff9ed00 100.66%);
  }

  #menu-toggle~.menu li {
    height: 0;
    margin: 0;
    padding: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.menu li {
    height: 40px;
    font-size: 1rem;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: var(--text-color);
  }

  .menu li a {
    text-decoration: none;
    color: var(--text-color);
  }

  #portrait img {
    border: 5px solid var(--white);
  }
}
